<table class="table table-hover">
	<% @routines[frequency.to_sym].each do |routine| %>
	
	<tr class="clickableRow" data-toggle="modal" data-target="<%='#ViewRoutine'+routine.title.split(' ').join('')%>">
	
		<td>
			<% if routine.recent_routine_todo.completed == true %>
				<%= button_to "complete", {controller: "routine_todos",
	      action: "update", id: routine.recent_routine_todo.id, completed: "false" }, method: "put" %>
			<% else %>
				<%= button_to "not complete", {controller: "routine_todos",
	      action: "update", id: routine.recent_routine_todo.id, completed: "true" }, method: "put" %>
			<% end %>
		</td>

		<td><h5><%= routine.title %></h5> 
			<%= routine.description %>
		</td>
	</tr>
	<%= render partial: 'view_routine' , locals: {routine: routine} %>
	<% end %>
</table>